<%- include('partials/header') %>

<%- include('partials/navbar') %>

<%- include('home/carousel') %>
  
<%- include('home/products') %>

<%- include('home/careers') %>

<%- include('home/about') %>

<%- include('home/contact') %>

<div class="alert alert-dark alert-dismissible fade show fixed-bottom" role="alert">
    What do you think of our products and services? Write a short review about our services <a href="/createReview" class="alert-link">here</a>.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>


<%- include('partials/footer') %>